{% extends "partials/full_layout.html" %}
{% block title %}Editar Nota{% endblock %}
{% block content %}
<h2>Editar Nota</h2>

<form method="POST" action="{{ url_for('notes.edit_nota', id=nota._id|string) }}">
  <div>
    <label>Alumne:</label>
    <p>{{ nota.alumne_nom }}</p>
  </div>

  <div>
    <label>Assignatura:</label>
    <p>{{ nota.assignatura_nom }}</p>
  </div>

  <input type="hidden" name="ra_id" value="{{ nota.ra_nom }}">

  <div>
    <label for="nota">Nota:</label>
    <input type="number" step="0.01" name="nota" value="{{ nota.nota }}" required>
  </div>

  <button type="submit" class="btn-edit">Actualitzar</button>
</form>
{% endblock %}
