{% extends "partials/full_layout.html" %}
{% block title %}Llista de Cicles{% endblock %}
{% block content %}
<div class="container">
    <h2>Llista de Cicles</h2>
    <a href="{{ url_for('cicles.add_cicle_route') }}" class="btn">Afegir Cicle</a>

    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Descripció</th>
                    <th>Accions</th>
                </tr>
            </thead>
            <tbody>
                {% for cicle in cicles %}
                <tr>
                    <td>{{ cicle.nom }}</td>
                    <td>{{ cicle.descripcio }}</td>
                    <td>
                        <div class="action-buttons">
                            <a href="{{ url_for('cicles.edit_cicle', id=cicle.id) }}" class="btn-edit">Editar</a>
                            <form action="{{ url_for('cicles.delete_cicle_route', id=cicle.id) }}" method="post" style="display:inline;">
                                <button type="submit" class="btn-delete">Eliminar</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
