{% extends "partials/full_layout.html" %}
{% block title %}Editar Grup{% endblock %}

{% block content %}
<div class="container">
  <h2>Editar Grup</h2>
  <form method="POST" action="{{ url_for('grups.edit_grup', id=grup.id) }}">
    <div class="form-group">
      <label for="nom">Nom:</label>
      <input type="text" name="nom" id="nom" value="{{ grup.nom }}" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn-edit">Guardar Canvis</button>
    </div>
  </form>
</div>
{% endblock %}
