{% extends "partials/full_layout.html" %}
{% block title %}Llista de Grups{% endblock %}

{% block content %}
<h2>Llista de Grups</h2>
<a href="{{ url_for('grups.add_grup_route') }}" class="btn">Afegir Grup</a>

{% if grups %}
<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Accions</th>
      </tr>
    </thead>
    <tbody>
      {% for g in grups %}
      <tr>
        <td>{{ g.nom }}</td>
        <td>
          <div class="action-buttons">
            <a href="{{ url_for('grups.edit_grup', id=g.id) }}" class="btn-edit">Editar</a>
            <form action="{{ url_for('grups.delete_grup_route', id=g.id) }}" method="POST" style="display:inline;">
              <button type="submit" class="btn-delete">Eliminar</button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <p>No hi ha grups registrats.</p>
{% endif %}
{% endblock %}
